@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot');
    src: local('../../fonts/Lato Regular'), local('Lato-Regular'),
        url('../../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Lato-Regular.woff') format('woff'),
        url('../../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Heavy.eot');
    src: local('../../fonts/Lato Heavy'), local('Lato-Heavy'),
        url('../../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Lato-Heavy.woff') format('woff'),
        url('../../fonts/Lato-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

:focus {
    outline: none
}

a {
    color: #777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    color: #363636;
}

%hafter {
    content: "";
    height: 0;
    border: 1px solid #11977d;
    position: absolute;
}

%h2ondarck {
    font-size: 38px;
    line-height: 70px;
}

body {
    font-size: 16px;
    font-family: 'Lato';
    color: #777;
    text-align: justify;
}

header {
    .navbar-brand {
        font-size: 37px;
        line-height: 60px;
        font-weight: 900;

        &:before {
            display: inline-block;
            content: "";
            width: 0;
            height: 0;
            border: 12px solid #11977d;
            border-radius: 50%;
            margin-right: 8px;
        }

        span {
            color: #11977d;
        }
    }

    .navbar-light {
        .navbar-nav {
            text-align: center;

            .nav-link {
                color: #777;

                &:hover {
                    color: #11977d;
                }
            }
        }
    }


    .banerHeader {
        background: url('../../build/img/baner_header.png') no-repeat;
        background-size: cover;

        .baner {

            h1 {
                font-size: 40px;
                color: #fff;
                line-height: 84px;
                padding: 295px 100px;
            }
        }
    }
}

#block1 {
    margin-top: 100px;

    //первый блок с продукцией
    .aboutPhone {
        text-align: center;

        h2 {
            @extend %h2ondarck;
        }

        h3 {
            display: inline-flex;
            font-size: 24px;
            line-height: 70px;
            padding: 0 25px;
            border-top: #11977d 2px solid;
        }

        //вдальнейшем моно часть текчта спрятать
        p {
            // overflow: hidden;
            // max-height: 25%;
            text-align: justify;
        }

        a {
            color: #11977d;
            text-decoration: underline;
            font-size: 20px;
        }
    }

    //накладка напервый блок
    .aboutPhone+div {
        text-align: center;
        position: relative;

        &::before {
            content: "";
            width: 220px;
            height: 220px;
            background: url('../../build/img/phone+.png') no-repeat;
            position: absolute;
            top: -22px;
            left: -13px;
            border-radius: 50%;
            box-shadow: 0px 2px 15px 5px #777;

        }
    }

    .block2 {
        background: #2d2d2d;
        margin-top: -83px;
        padding: 0;

        .blockPhone {
            margin-top: 0;
        }

        // тень для тпродукции 2-гоблока
        .phoneShadow {
            img {
                box-shadow: 0px 0px 100px #777;
                border-radius: 45px 45px 0 0;
            }
        }

        div {
            margin-top: 80px;
        }

        h2 {
            @extend %h2ondarck;
            color: #fff;
        }

        h3 {
            color: #fff;
        }

    }
}

//section #block2
#block2 {
    .darckBlock2 {
        background: #2d2d2d;

        h2 {
            @extend %h2ondarck;
            color: #fff;
            padding: 100px 0 70px 0;
            position: relative;

            &::after {
                @extend %hafter;
                width: 340px;
                top: 75%;
                right: 34%;
            }
        }
    }

    .block2ArticleBlock {
        .card {
            background: transparent;
            border: none;

            .card-body {
                text-align: center;

                h2 {
                    @extend %h2ondarck;
                    color: #fff;
                    padding: 100px 0 70px 0;
                    position: relative;

                    &::after {
                        @extend %hafter;
                        width: 340px;
                        top: 75%;
                        right: 30%;
                    }
                }

                h5 {
                    font-size: 28px;
                    font-weight: 700;
                    color: #11977d;
                    position: relative;

                    &::after {
                        @extend %hafter;
                        width: 65px;
                        top: 45px;
                        right: 38%;
                    }
                }

                p {
                    text-align: justify;
                    margin-top: 40px;
                }

                a {
                    border: 1px solid #11977d;
                    border-radius: 12px;
                    padding: 4px 8px;
                    background: transparent;
                    color: #777;

                    &:hover {
                        color: #fff;
                        background: #11977d;
                    }
                }
            }

        }

    }

    .darckBlock2+.container {
        h2 {
            @extend %h2ondarck;
            position: relative;
            margin: 50px 0;

            &:after {
                @extend %hafter;
                width: 340px;
                top: 103%;
                right: 34%;
            }
        }
    }
}

//reviews
.reviews {
    text-align: center;

    h2 {
        display: inline-block;
        @extend %h2ondarck;
        border-bottom: #11977d 1px solid;
        margin: 50px 0 80px 0;
    }

    a {
        display: inline-block;
        font-size: 21px;
        color: #fff;
        background: #11977d;
        border-radius: 8px;
        padding: 9px 52px;
        margin: 30px 0;
        text-decoration: none;
    }
}

footer {
    .banerFooter {
        background: url('../../build/img/baner_footer.png') no-repeat;
        background-size: cover;
        position: relative;
        text-align: center;
        margin-top: 50px;

        &:after {
            display: block;
            content: "";
            background: rgba(255, 255, 255, 0.5);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }

        .soc {
            position: relative;
            color: #2d2d2d;
            font-size: 18px;
            border-bottom: #2d2d2d 1px solid;
            z-index: 5;
            padding: 60px 0 35px 0;

            a {
                width: 65px;
                height: 65px;
                border-radius: 50%;
                background: url('../../build/img/sprite.png') -8px -10px;
                padding: 5px;

                &:hover {
                    transform: scale(1.2);
                }
            }

            a+a {
                background-position: 66px 0px;
            }

            a+a+a {
                background-position: 146px 66px;
            }
        }

        ul.menuFooter {
            padding: 35px 0 75px 0;
            ;

            li {
                list-style: none;
                text-transform: uppercase;
                z-index: 5;
                margin-right: 15px;

                a {
                    color: #2d2d2d;
                    text-decoration: none;
                }
            }
        }
    }

    .copirate {
        background: #f3f3f3;

        p {
            text-align: center;
            padding: 15px 0 10px 0;
            margin: 0;
        }
    }

}